$hamburgerTop: 13px;

/*******transition*********/
$transitionDelay: 1s;
$transitionEffect: ease-in-out;
$hamburgerRotate: 0deg;

/**********colors**************/
$whiteColor: #FFF;
$blackColor: #000;
$darkGreen: #7dda5e;
$grayColor: #CCC;
$themeTransparent: 0.5;

/******heigt/padding/margin*******/
$minHeight: 100px;
$normalPadding: 15px;
$normalMargin: 15px;