#sidebar {
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
  font-weight: 500;
  background: #e3e9ee;
  color: #4b4b4b;
  box-shadow: 0 2px 12px 0 #dfe3eb;
  /* border-right: 1px solid #cdd5dc; */
}
/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

.slidebar-icon {
  color: #fff;
  font-size: 21px;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}
.slidebar-position {
  position: absolute;
  right: -38px;
  top: 19px;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
.sidebar-header {
  height: 66px;
  background: #333;
  box-shadow: 0px 2px 4px #752f2f;
  border-right: 1px solid #444;
}
.sidebar-header h3 {
  color: #fff;
  width: 100%;
  text-align: center;
}
.sidebar-header strong {
  font-size: 20px;
  width: 100%;
  text-align: center;
}
#sidebar .sidebar-header strong {
  display: none;
  color: #fff;
}
#sidebar.active .sidebar-header h3 {
  display: none;
  color: #fff;
}
#sidebar.active .sidebar-header strong {
  display: block;
  color: #fff;
}
#sidebar.active .nav-bar-container .nav-bar-container-ul .nav-bar-container-item .nav-list-dropdown .nav-main-text {
  display: none;
}
#sidebar.active .nav-bar-container .nav-bar-container-ul .nav-bar-container-item .nav-list-dropdown .menu-toggle-icon {
  display: none;
}
#sidebar ul li a {
  text-align: left;
}
#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}
#sidebar.active ul li a i {
  margin-right:  0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
  padding: 10px !important;
}
#sidebar .nav-bar-container {
  border-right: 1px solid #cdd5dc;
}

// nav bar items
.nav-bar-container {
  .nav-bar-container-ul {
    .nav-bar-container-item {
      border-bottom: 1px solid #cdd5dc;
      position: relative;
      .nav-list-dropdown {
        padding: 10px;
        display: flex;
        justify-content: center;
        .nav-main-icon {
          font-size: 22px;
          width: 30px;
          display: inline-block;
          text-align: center;
        }
        .nav-main-text {
          width: calc(100% - 55px);
          display: inline-block;
          line-height: 31px;
          font-size: 16px;
          margin-left: 10px;
        }
      }
      .nav-bar-container-ul-level2 {
        background-color: #e3e9ee;
        overflow: hidden;
        .nav-bar-container-item-level2 {
          padding: 0 15px 0 25px;
          .anchor-link {
            padding: 7px 0;
            display: flex;
          }
        }
      }
    }
  }
}

#sidebar.active .nav-bar-container .nav-bar-container-ul .nav-bar-container-item .nav-bar-container-ul-level2 {
  position: absolute;
  top: 2px;
  left: 81px;
  transition: all 0.5s;
  border: 1px solid #cdd5dc;
  border-radius: 3px;
  z-index: 1;
  .nav-bar-container-item-level2 {
    padding: 0 5px;
    width: 180px;
    .anchor-link {
      padding: 10px 5px !important;
      border-bottom: 1px solid #cdd5dc;
    }
  }
}


/* Changing the arrow position to bottom center position,
 translateX(50%) works with right: 50%
 to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

@media (max-width: 768px) {
  /* 80px and its content aligned to centre. Pushing it off the screen with the
     negative left margin
  */
  #sidebar.active {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      margin-left: -80px !important;
  }

  /* Reappearing the sidebar on toggle button click */
  #sidebar {
      margin-left: 0;
  }

  /* Toggling the sidebar header content,
     hide the big heading [h3] and showing the small heading [strong] and vice versa
  */
  #sidebar .sidebar-header strong {
      display: none;
  }
  #sidebar.active .sidebar-header h3 {
      display: none;
  }
  #sidebar.active .sidebar-header strong {
      display: block;
  }

  #sidebar.active .nav-bar-container .nav-bar-container-ul .nav-bar-container-item .nav-list-dropdown .nav-main-text {
    display: none;
  }
  #sidebar.active .menu-toggle-icon {
    display: none;
  }

  /* Downsize the navigation links font size */
  #sidebar.active ul li a {
      padding: 20px 10px;
      font-size: 0.85em;
  }

  #sidebar.active ul li a i {
      margin-right:  0;
      display: block;
      font-size: 1.8em;
      margin-bottom: 5px;
  }

  /* Adjust the dropdown links padding*/
  #sidebar.active ul ul a {
      padding: 10px !important;
  }

  /* Changing the arrow position to bottom center position,
    translateX(50%) works with right: 50%
    to accurately  center the arrow */
  .dropdown-toggle::after {
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
  }
}

.level-active {
  // background-color: #ccc;
}
.menu-toggle-icon {
  padding: 3px;
  cursor: pointer;
  font-size: 20px;
}
.nav-list-dropdown {
  transition: 0.9s;
}
