
<header class="main-header">
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

        </div>
    </nav> -->
    <div class="header-bar verticle-center-parent">
      <div class="header-container pull-left">
          <h4 class="header-title verticle-center-element">Page Title</h4>
      </div>
      <div class="header-container pull-right">
        <ul class="navbar-nav flex-direction-row">
            <li class="nav-item active">
              <a class="nav-link nav-link-custom" href="#"><i class="fa fa-neuter rotate-minus-45 font-size-16 " aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-custom" href="#"><i class="fa fa-envelope-o font-size-16 " aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-custom" href="#"><i class="fa fa-bell-o font-size-16 " aria-hidden="true"></i></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link nav-link-custom dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{'Prasanna'}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#" (click)="userLogout()">Log Out</a>
              </div>
            </li>
          </ul>
      </div>

      <!--<div class="pull-right clearAfter">
         <a routerLink="/adminPannel">C-pannel</a> |
        <a routerLink="/webStore" href="">Web-store</a>
        <a routerLink="/adminPannel">C-pannel</a> |
        <a routerLink="/webstore">Web-store</a>
      </div>
      -->
      <!-- <div class="pull-right clearAfter">
        <div class="header-top-icons">
          <ul class="list-line-li">
            <li><i class="fa fa-clock-o" aria-hidden="true"></i></li>
            <li><a routerLink="/notification/hello"><i class="fa fa-calendar" aria-hidden="true"></i></a></li>
            <li><a [routerLink]="['/notification', 'edit']" [queryParams]="{allowEdit: '1', status: true}" fragment="loading"><i class="fa fa-calendar" aria-hidden="true"></i></a></li>
            <li><a (click)="goToNavigationPage()"><i class="fa fa-calendar" aria-hidden="true"></i></a></li>
            <li><a [routerLink]="['/settings', 2, 'Sharath']"><i class="fa fa-address-card" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div> -->

    </div>

  </header>
  <!-- (click)="userLogout()" -->

  <!--
<ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link nav-link-custom" href="#"><i class="fa fa-neuter rotate-minus-45 font-size-16 " aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-custom" href="#"><i class="fa fa-envelope-o font-size-16 " aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-custom" href="#"><i class="fa fa-bell-o font-size-16 " aria-hidden="true"></i></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link nav-link-custom dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{'Prasanna'}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#" (click)="userLogout()">Log Out</a>
              </div>
            </li>
          </ul>
   -->
